# Ignore node_modules directory
node_modules/

# Ignore Cypress binary cache
.cypress/

# Ignore Cypress videos and screenshots
/cypress/videos/
/cypress/screenshots/

# Ignore Cypress generated reports
/mochawesome-report/

# Ignore Cypress configuration file
cypress.json

